body {
    background-color: #ffffff;
}

/* autocomplete-list-core.css ****************************************************/
.yui3-aclist {
    position: absolute;
    z-index: 1;
}

.yui3-aclist-hidden { visibility: hidden; }

.yui3-aclist-aria {
    /* Hide from sighted users, show to screen readers. */
    left: -9999px;
    position: absolute;
}

.yui3-aclist-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.yui3-aclist-item {
    cursor: pointer;
    list-style: none;
    padding: 0.2em 0.5em;
}

.yui3-aclist-item-active { outline: #afafaf dotted thin;
}

/* autocomplete-list-skin.css   (sam) ****************************************************/
.yui3-skin-mine .yui3-aclist-content {
    background-color: #ecedee;
    border: solid 1px #dcdee0;
    color: #3c4044;
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.58);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
}

.yui3-skin-mine .yui3-aclist-item-hover {
    background-color: #d4d6d9;
    color: #242629;
}

.yui3-skin-mine .yui3-aclist-item-active {
    background-color: #c3c6cb;
    color: #020303;
    outline: none;
}

.yui3-skin-mine .yui3-button {
    /* Structure */
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;
    font-size: 100%;
    *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.4em 1em 0.45em; /*0.4em 1em 0.45em;*/
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    /* Presentation */
    /*color: #444;  rgba not supported (IE 8) */
    /*color: rgba(0, 0, 0, 0.80);  rgba supported */
    /**color: #444;  IE 6 & 7 */
    color: #151719;
    /*border: 1px solid #999;  IE 6/7/8*/
    /*border: none rgba(0, 0, 0, 0);  IE9 + everything else*/
    border: solid 1px;
    border-color: #dcdde0 #bbbec4 #bbbec4 #dcdde0;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=0);
    background: background:    -moz-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 253, 0.3)), color-stop(49%, rgba(195, 198, 203, 0)), color-stop(51%, rgba(195, 198, 203, 0)), color-stop(100%,rgba(143, 149, 158, 0.3)));
    background: -webkit-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #c3c6cb;

    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset, 0 2px 2px rgba(255,255,255, 0.30) inset, 0 1px 2px rgba(0,0,0, 0.15);
    -moz-box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset, 0 2px 2px rgba(255,255,255, 0.30) inset, 0 1px 2px rgba(0,0,0, 0.15);
    box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset, 0 2px 2px rgba(255,255,255, 0.30) inset, 0 1px 2px rgba(0,0,0, 0.15);

    /* Transitions */
    -webkit-transition: 0.1s linear -webkit-box-shadow;
    -moz-transition: 0.1s linear -moz-box-shadow;
    -ms-transition: 0.1s linear box-shadow;
    -o-transition: 0.1s linear box-shadow;
    transition: 0.1s linear box-shadow;
}

.yui3-skin-mine a.yui3-button {
    color: #151719;
    text-decoration:none;
}

.yui3-skin-mine a.yui3-button-selected {
    color: #fcfcfd;
    text-decoration:none;
}

.yui3-skin-mine .yui3-button-hover,
.yui3-skin-mine .yui3-button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#26000000', GradientType=0);
    background: background:    -moz-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 253, 0.3)), color-stop(49%, rgba(195, 198, 203, 0)), color-stop(51%, rgba(195, 198, 203, 0)), color-stop(100%,rgba(143, 149, 158, 0.3)));
    background: -webkit-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #b0b4ba;
    color: #070808;
}

.yui3-skin-mine .yui3-button-active,
.yui3-skin-mine .yui3-button:active {
    border: inset 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A000000', endColorstr='#26000000', GradientType=0);
    background: background:    -moz-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(99, 106, 121, 0) 49%, rgba(99, 106, 121, 0) 51%, rgba(48, 52, 59, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 253, 0.3)), color-stop(49%, rgba(99, 106, 121, 0)), color-stop(51%, rgba(99, 106, 121, 0)), color-stop(100%,rgba(48, 52, 59, 0.3)));
    background: -webkit-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(99, 106, 121, 0) 49%, rgba(99, 106, 121, 0) 51%, rgba(48, 52, 59, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(99, 106, 121, 0) 49%, rgba(99, 106, 121, 0) 51%, rgba(48, 52, 59, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(99, 106, 121, 0) 49%, rgba(99, 106, 121, 0) 51%, rgba(48, 52, 59, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(252, 252, 253, 0.3) 0%, rgba(99, 106, 121, 0) 49%, rgba(99, 106, 121, 0) 51%, rgba(48, 52, 59, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #636A79;
    color: #fcfcfd;


    -webkit-box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset, 0 2px 4px rgba(0,0,0, 0.30) inset;
    -moz-box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset, 0 2px 4px rgba(0,0,0, 0.30) inset;
    box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset, 0 2px 4px rgba(0,0,0, 0.30) inset;
}

.yui3-skin-mine .yui3-button[disabled],
.yui3-skin-mine .yui3-button-disabled,
.yui3-skin-mine .yui3-button-disabled:hover,
.yui3-skin-mine .yui3-button-disabled:active {
    cursor: default;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=55);
    -khtml-opacity: 0.55;
    -moz-opacity: 0.55;
    opacity: 0.55;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset;
    -moz-box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset;
    box-shadow: 0 0 1px rgba(0,0,0, 0.25) inset;

    background-color: #c3c6cb;
    color: #151719;


}

/* Firefox: Get rid of the inner focus border */
.yui3-skin-mine .yui3-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

/* Firefox: Add a border around a focused button */
.yui3-skin-mine .yui3-button:-moz-focusring {
    outline: thin dotted;
}


.yui3-skin-mine .yui3-button-primary,
.yui3-skin-mine .yui3-button-selected {
    background-color: #636A79;
    color: #fcfcfd;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.17) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.17) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.17) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
    border-color: #7b8393 #555b68 #555b68 #7b8393;
}

.yui3-skin-mine .yui3-button-primary:hover,
.yui3-skin-mine .yui3-button-selected:hover {
    background-color: #555b68;
    color: #fcfcfd;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.17) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.17) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.17) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
}


.yui3-skin-mine .yui3-sam .yui3-button:-moz-focusring {
    outline-color: rgba(0, 0, 0, 0.85);
}


.yui3-skin-mine .yui3-night .yui3-button:-moz-focusring {
    outline-color: rgba(255, 255, 255, 0.85);
}
.yui3-skin-mine .yui3-calendar-content {
    padding: 1em 1em 1.5em;
    border-radius: 0px;
    background:    -moz-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(236, 237, 238, 0) 49%, rgba(236, 237, 238, 0) 51%, rgba(182, 186, 190, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 253, 0.3)), color-stop(49%, rgba(236, 237, 238, 0)), color-stop(51%, rgba(236, 237, 238, 0)), color-stop(100%,rgba(182, 186, 190, 0.3)));
    background: -webkit-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(236, 237, 238, 0) 49%, rgba(236, 237, 238, 0) 51%, rgba(182, 186, 190, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(236, 237, 238, 0) 49%, rgba(236, 237, 238, 0) 51%, rgba(182, 186, 190, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(236, 237, 238, 0) 49%, rgba(236, 237, 238, 0) 51%, rgba(182, 186, 190, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(252, 252, 253, 0.3) 0%, rgba(236, 237, 238, 0) 49%, rgba(236, 237, 238, 0) 51%, rgba(182, 186, 190, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #ecedee;
    color: #3c4044;
    border: solid 1px;
    border-color: #fcfcfd #dcdee0 #dcdee0 #fcfcfd;
}

.yui3-skin-mine .yui3-calendar-grid {
    padding: 5px;  /* any affect? */
    border-collapse: collapse;
}

.yui3-skin-mine .yui3-calendar-header {
    padding-bottom:10px;
    color: #161718;
}

.yui3-skin-mine .yui3-calendar-header-label {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}


.yui3-skin-mine .yui3-calendar-day,
.yui3-skin-mine .yui3-calendar-prevmonth-day,
.yui3-skin-mine .yui3-calendar-nextmonth-day {
    padding: 0.16em 0.16em 0.24em;
    text-align: center;
}




.yui3-skin-mine .yui3-calendar-weekday {
    font-weight: bold;
    background: {{weekdayHeadBackground}};
    color: #3c4044;
}

.yui3-skin-mine .yui3-calendar-prevmonth-day,
.yui3-skin-mine .yui3-calendar-nextmonth-day {
    background: #ecedee;
    color: #989ea4;
    border: solid 1px #c4c6ca;
}

.yui3-skin-mine .yui3-calendar-day {
    font-weight: bold;
    background: #d4d6d9;
    color: #242629;
    border: solid 1px #c4c6ca;
}
.yui3-skin-mine .yui3-calendar-day:hover,         /* When cursor   is used to navigate days */
.yui3-skin-mine .yui3-calendar-day-highlighted {  /* When keyboard is used to navigate days */
    background: #c4c5ca;
    color: #161618;
}

.yui3-skin-mine .yui3-calendar-day-selected {
    background:    -moz-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(99, 106, 121, 0) 49%, rgba(99, 106, 121, 0) 51%, rgba(48, 52, 59, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 253, 0.3)), color-stop(49%, rgba(99, 106, 121, 0)), color-stop(51%, rgba(99, 106, 121, 0)), color-stop(100%,rgba(48, 52, 59, 0.3)));
    background: -webkit-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(99, 106, 121, 0) 49%, rgba(99, 106, 121, 0) 51%, rgba(48, 52, 59, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(99, 106, 121, 0) 49%, rgba(99, 106, 121, 0) 51%, rgba(48, 52, 59, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(99, 106, 121, 0) 49%, rgba(99, 106, 121, 0) 51%, rgba(48, 52, 59, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(252, 252, 253, 0.3) 0%, rgba(99, 106, 121, 0) 49%, rgba(99, 106, 121, 0) 51%, rgba(48, 52, 59, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #636A79;
    color: #fcfcfd;
}

.yui3-skin-mine .yui3-calendar-day-selected:hover, /* When cursor hovers over selected days */
.yui3-skin-mine .yui3-calendar-day-selected.yui3-calendar-day-highlighted { /* When keyboard focuses over selected days */
    background-color: #555b68;
    color: #fcfcfd;
}

.yui3-skin-mine .yui3-calendar-header-label {
    text-align: center;
}

.yui3-skin-mine .yui3-calendar-left-grid {
   margin-right:1em;
}

.yui3-skin-mine .yui3-calendar-right-grid {
   margin-left:1em;
}

.yui3-skin-mine .yui3-calendar-selection-disabled,
.yui3-skin-mine .yui3-calendar-selection-disabled:hover {
  color: #989ea4;
  background: #ecedee;
}
/**************** the following from calendarnavigator.css ******************/
.yui3-skin-mine .yui3-calendarnav-prevmonth, .yui3-skin-mine .yui3-calendarnav-nextmonth {
  color: #000000;  /*falls back to text if image not rendered */
  width: 12px;
  height: 14px;
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOCAYAAAA1+Nx+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKNJREFUeNpiYCAeSAPxUiiWZqAi4ATiaiD+DMT/ofgzVIyTUsMDgfghksHo+CFUDcnAAIgP4DEYHR+A6iEIhIB4GgkGo+NpUDMwADMQFwHxBwoMh+EPULOYYYZ7APFVKhiMjkFmejBBLWFjoD5gQ+dQO4iwOloUiOdQYPgcqBkDl0zRQRQRGS2KGkVFHRB/QzL4G1SMk5qpQg6psJMjVhNAgAEAH+qPqeiPEUsAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
}

.yui3-skin-mine .yui3-calendarnav-prevmonth:hover, .yui3-skin-mine .yui3-calendarnav-nextmonth:hover {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOCAYAAAA1+Nx+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPpJREFUeNpi/P//PwMxQD9jszSQ6oJyyy7O8H1KjD5GQhYADeYEUkVAXAHEPFDhL0DcAcR9QIu+k20B0PBAIDUBiOVwKHkExAVAS9aTZAHQYAOowfYMxIGDUIsu4LUAaLAQkGoB4kwG8sB0IK4BWvQOxQKgwcxAdj4Q1wExPwNl4CMQNwHxRKBFfxn10jd5ADm9QKzFQF1wDYiLmaAcNgbqA7CZTEBv7ADS2iDboN5joEIQgczSBpmNHsmiQKodiJPJNHwuEFcCDX49MMkUi0VRUB/hy2ggFy+jtKgohRYVnFDh79CiopuiogLNIjmobxigrn5EjD6AAAMAok9vhfHG8wQAAAAASUVORK5CYII=);
  color: #0066CC;
}

.yui3-skin-mine .yui3-calendarnav-month-disabled, .yui3-skin-mine .yui3-calendarnav-month-disabled:hover {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOCAYAAAA1+Nx+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQhJREFUeNqs0yGLAlEUhuHrKoIgCFbBJghb3F+g0WrVarEqLIhBEEFYWKNNMBktU4z6C5RNkwyCyWQSTPuOfCOCrHNnxwMPyOGe73DAiTmOYywrhy/9/sTBZujN4k0KPbioi6teKuqCmsKGSN/10+q5ehN6QQkrLJB/Mp/Xm5VmAhdkMcEGZWNfZc1MlPGwII42dmiZ/1dLGW1lXhdU8YNvZEz0yijLy6z6FyTN6yvpX7DEOzo4vSD4pCwvc+lfcMEYBUwjhE+VMVbmw7/oiCY+sA4RvNZMUxmB38EWFTSwfxK815uKZkJ/yXMU0cf5rn9Wr6g3f1bC4nwvbIAZRup1Ay671a8AAwC3OzOqxK+rkwAAAABJRU5ErkJggg==);
  cursor: default;
  color: #CCCCCC;
}

.yui3-skin-mine .yui3-calendarnav-prevmonth, .yui3-skin-mine .yui3-calendarnav-prevmonth:hover {
  background-position: 0px 0px;
  margin-left:-12px;
}

.yui3-skin-mine .yui3-calendarnav-nextmonth, .yui3-skin-mine .yui3-calendarnav-nextmonth:hover {
  background-position: -12px 0px;
  margin-right: -12px;
}

.yui3-skin-mine .yui3-calendarnav-prevmonth span, .yui3-skin-mine .yui3-calendarnav-nextmonth span {
   display: none;
   *display: block;
}

/* basic skin styles */
.yui3-skin-mine .yui3-datatable-table {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    /* IE7- doesn't support border-spacing, but separate is needed for more
     * reliable dimension calculation for scrollable's header width sync,
     * and it doesn't hurt to have the declaration here.
     */
    /**border-collapse: collapse;*/
    border: solid 1px #dcdee0;
}

.yui3-skin-mine .yui3-datatable-caption {
    color: #adadad;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0em; /*1em 0;*/
    text-align: center;
}

.yui3-skin-mine .yui3-datatable-cell {
    background-color: #ecedee;
    color: #3c4044;
}
.yui3-skin-mine .yui3-datatable-cell,
.yui3-skin-mine .yui3-datatable-header {
    border-left: 1px solid #dcdee0; /*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
	overflow: visible; /*to make this work where the title is really long */
    padding: 0.3em 0.6em;
}
.yui3-skin-mine .yui3-datatable-cell:first-child,
.yui3-skin-mine .yui3-datatable-first-header {
    border-left-width: 0px;
}

.yui3-skin-mine .yui3-datatable-header {
    background:    -moz-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(220, 221, 224, 0) 49%, rgba(220, 221, 224, 0) 51%, rgba(169, 171, 178, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 253, 0.3)), color-stop(49%, rgba(220, 221, 224, 0)), color-stop(51%, rgba(220, 221, 224, 0)), color-stop(100%,rgba(169, 171, 178, 0.3)));
    background: -webkit-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(220, 221, 224, 0) 49%, rgba(220, 221, 224, 0) 51%, rgba(169, 171, 178, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(220, 221, 224, 0) 49%, rgba(220, 221, 224, 0) 51%, rgba(169, 171, 178, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(220, 221, 224, 0) 49%, rgba(220, 221, 224, 0) 51%, rgba(169, 171, 178, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(252, 252, 253, 0.3) 0%, rgba(220, 221, 224, 0) 49%, rgba(220, 221, 224, 0) 51%, rgba(169, 171, 178, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #dcdde0;
    color: #2b2d31;

    /*font-weight: normal;*/
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
}

.yui3-skin-mine .yui3-datatable-even .yui3-datatable-cell {
}
.yui3-skin-mine .yui3-datatable-odd  .yui3-datatable-cell  {
    background-color: #dcdee0;
    color: #242629;
}
/************************  sortable ***************/
.yui3-skin-mine .yui3-datatable-sortable-column {
    cursor: pointer;
}

/* this seems to be just the header of a sorted column */
.yui3-skin-mine .yui3-datatable-columns .yui3-datatable-sorted,
.yui3-skin-mine .yui3-datatable-sortable-column:hover {
    background-color: #c3c6cb;
    color: #151719;
}

.yui3-skin-mine .yui3-datatable-sort-liner {
    display: block;
    height: 100%;
    position: relative;
    padding-right: 15px;
    position: relative;
}

.yui3-skin-mine .yui3-datatable-sort-indicator {
    position: absolute;
    right: 0;
    bottom: .5ex;
    width: 7px;
    height: 10px;
    background: url(assets/images/sort-arrow-sprite.png) no-repeat 0 0;
    _background: url(assets/images/sort-arrow-sprite-ie.png) no-repeat 0 0;
    overflow: hidden;
}

.yui3-skin-mine .yui3-datatable-sorted .yui3-datatable-sort-indicator {
    background-position: 0 -10px;
}
.yui3-skin-mine .yui3-datatable-sorted-desc .yui3-datatable-sort-indicator {
    background-position: 0 -20px;
}

.yui3-skin-mine .yui3-datatable-data .yui3-datatable-even .yui3-datatable-sorted {
    background-color: #e4e5e7;
    color: #1d1e20;
}

.yui3-skin-mine .yui3-datatable-data .yui3-datatable-odd .yui3-datatable-sorted {
    background-color: #d4d5d9;
}
/********  datatable-scroll-skin.css **********************************************/
.yui3-skin-mine .yui3-datatable-scroll-columns {
    border-collapse: separate;
    border-spacing: 0;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.yui3-skin-mine .yui3-datatable-scroll-columns .yui3-datatable-header {
    padding: 0;
}

.yui3-skin-mine .yui3-datatable-x-scroller,
.yui3-skin-mine .yui3-datatable-y-scroller-container {
    border: 1px solid #dcdee0;
}

.yui3-skin-mine .yui3-datatable-scrollable-x .yui3-datatable-y-scroller-container,
.yui3-skin-mine .yui3-datatable-x-scroller .yui3-datatable-table,
.yui3-skin-mine .yui3-datatable-y-scroller .yui3-datatable-table {
    border: 0 none;
}
/********  end datatable-scroll-skin.css **********************************************/

/* added */
.yui3-skin-mine .yui3-datatable-columns .yui3-datatable-sorted {
    background-color: #c3c6cb;
}



/** dial-core.css *******************************/
v\:oval,
v\:shadow,
v\:fill {
    behavior: url(#default#VML);
    display: inline-block;
     *display: inline;
     zoom: 1;
}
.yui3-dial{
	position:relative;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	/*text-align:center;   This causes problems with the angle calc with longer labels*/
}
.yui3-dial-content,
.yui3-dial-ring{
	position:relative;
}
.yui3-dial-handle,
.yui3-dial-marker,
.yui3-dial-center-button,
.yui3-dial-reset-string,
.yui3-dial-handle-vml,
.yui3-dial-marker-vml,
.yui3-dial-center-button-vml,
.yui3-dial-ring-vml v\:oval,
.yui3-dial-center-button-vml v\:oval
{
	position:absolute;
}
.yui3-dial-center-button-vml v\:oval {
	font-size:1px;
	top:0;
	left:0;
}
.yui3-dial-content .yui3-dial-ring .yui3-dial-hidden v\:oval,
.yui3-dial-content .yui3-dial-ring .yui3-dial-hidden {
	/* [#2530206] using opacity instead of display:none;. display:none was mis-positioning the marker when we set the dial value on ring mousedown. */
	opacity:0;
	filter:alpha(opacity=0);
}

/** dial-skin.css  (sam) *******************************/
.yui3-skin-mine .yui3-dial-handle{ /*container. top left corner used for trig positioning*/
    background-color: #636A79;
	opacity:0.3;
	-moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.9) inset;
	/*-webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.9) inset; Chrome 7/Win bug*/
	cursor:pointer;
	font-size:1px;
}
.yui3-skin-mine .yui3-dial-ring {
    background: -moz-linear-gradient(-45deg, rgba(255,255,255, 0.1) 0%, rgba(255,255,255,0) 39%, rgba(0,0,0,0) 40%, rgba(0,0,0, 0.2) 100%);
    background-color: #ecedee;
	box-shadow:1px 1px 5px rgba(0, 0, 0, 0.4) inset;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4) inset; /*Chrome 7/Win bug*/
	-moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.4) inset;
}
.yui3-skin-mine .yui3-dial-center-button{
    background: -moz-radial-gradient(30% 30% 0deg, circle farthest-side, rgba(255,255,255, 0.3) 24%, rgba(255,255,255, 0) 41%, rgba(0,0,0, 0) 42%, rgba(0,0,0, 0.2) 83%) repeat scroll 0 0 transparent;
    background-color: #dcdde0;
	box-shadow:-1px -1px 2px rgba(0, 0, 0, 0.3) inset, 1px 1px 2px rgba(0, 0, 0, 0.5);
	cursor:pointer;
	opacity:0.7;
	/*text-align:center;*/
}
.yui3-skin-mine .yui3-dial-reset-string{
    color: #2b2d31;
	font-size:85%;
	text-decoration:underline;
}
.yui3-skin-mine .yui3-dial-label{
	color:    #4f4f4f; /* this sits directly on page background */
	margin-bottom:0.8em;
}
.yui3-skin-mine .yui3-dial-value-string{
	margin-left:0.5em;
	color: #262626;   /*this sits directly on page background */
	font-size:130%;
}
.yui3-skin-mine .yui3-dial-value {
	visibility:visible;
	position:absolute;
	top:0;
	left:0;
	width:4em;
}

.yui3-skin-mine .yui3-dial-north-mark{
	position:absolute;
	border-left:2px solid #adadad;
	height:5px;
	width:10px;
	left:50%;
	top:-7px;
	font-size:1px;
}
.yui3-skin-mine .yui3-dial-marker {
	background-color: #161718;
	opacity:0.2;
	font-size:1px;
}
.yui3-skin-mine .yui3-dial-marker-max-min{
	background-color:#AB3232;  /*red for max/min*/
	opacity:0.6;
}
.yui3-skin-mine .yui3-dial-ring-vml,
.yui3-skin-mine .yui3-dial-center-button-vml,
.yui3-skin-mine .yui3-dial-marker v\:oval.yui3-dial-marker-max-min,
.yui3-skin-mine v\:oval.yui3-dial-marker-max-min,
.yui3-skin-mine .yui3-dial-marker-vml,
.yui3-skin-mine .yui3-dial-handle-vml {
    background: none;
    opacity:0;
}
/********************************/


/** from overlay-core.css ***************************/
.yui3-overlay {
    position:absolute;
}

.yui3-overlay-hidden {
    visibility:hidden
}

.yui3-widget-tmp-forcesize .yui3-overlay-content {
    overflow:hidden !important;
}

/** added ***************************************/
.yui3-skin-mine .yui3-overlay-content .yui3-widget-hd,
.yui3-skin-mine .yui3-overlay-content .yui3-widget-bd,
.yui3-skin-mine .yui3-overlay-content .yui3-widget-ft {
    background-color: #ecedee;
    border: solid 1px #dcdee0;
    border-bottom: none;
    padding: 0.3em 0.5em;
    color: #3c4044;
}
.yui3-skin-mine .yui3-overlay-content .yui3-widget-ft {
    border-bottom: solid 1px #dcdee0;
}

/** from panel-core.css *****************************************/
.yui3-panel {
    position: absolute;
}
.yui3-panel-hidden {
    visibility: hidden;
}
.yui3-widget-tmp-forcesize .yui3-panel-content {
    overflow: hidden !important;
}
.yui3-panel .yui3-widget-hd {
    position: relative;
}
.yui3-panel .yui3-widget-hd .yui3-widget-buttons {
    position: absolute;
    top: 0;
    right: 0;
}
.yui3-panel .yui3-widget-ft .yui3-widget-buttons {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

/** from panel-skin.css (sam)***************************************/
.yui3-skin-mine .yui3-panel-content {
    -webkit-box-shadow: 2 2 7px rgba(0,0,0,0.15);
    -moz-box-shadow: 2 2 7px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 7px rgba(0,0,0,0.15);
    border: solid 1px #d4d5d9;
    background-color: #ecedee;
    color: #3c4044;
    border-radius: 0px;
}
.yui3-skin-mine .yui3-panel .yui3-widget-hd {
    padding: 0.5em; /* Room for close button. */
    padding-right: 40px; /* Room for Close button */
    min-height: 13px;           /* For the close button */
    _height: 13px;              /* IE6 */
    color: #151719;
    background: background:    -moz-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 253, 0.3)), color-stop(49%, rgba(195, 198, 203, 0)), color-stop(51%, rgba(195, 198, 203, 0)), color-stop(100%,rgba(143, 149, 158, 0.3)));
    background: -webkit-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #c3c6cb;
    border-radius: 0px 0px 0 0;


    /*
    TODO: Add support for IE and W3C gradients
    */
}
.yui3-skin-mine .yui3-panel .yui3-widget-hd .yui3-widget-buttons {
    padding: 0.2em;
}
.yui3-skin-mine .yui3-panel .yui3-widget-bd {
    padding: 0.5em;
}
.yui3-skin-mine .yui3-panel .yui3-widget-ft {
	background: #e4e5e7;
	padding: 0.5em;
    text-align: right;
    border-radius: 0 0 0px 0px;
}
.yui3-skin-mine .yui3-panel .yui3-widget-ft .yui3-button {
    margin-left: 8px;
}

/*
Support for icon-based [x] "close" button in the header.

Nicolas Gallagher: "CSS image replacement with pseudo-elements (NIR)"
http://nicolasgallagher.com/css-image-replacement-with-pseudo-elements/
*/
.yui3-skin-mine .yui3-panel .yui3-widget-hd .yui3-button-close {
    /* Reset base button styles */
    background: transparent;
    filter: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    /* Structure */
    width: 13px;
    height: 13px;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
    /* IE less than 8 :( */
    *font-size: 0;
    *line-height: 0;
    *letter-spacing: -1000px;
    *color: #86A5EC;
    *background: url(assets/images/sprite_icons.png) no-repeat 1px 1px;
}
.yui3-skin-mine .yui3-panel .yui3-widget-hd .yui3-button-close:before {
    /*
    Displays the [x] icon in place of the "Close" text.
    Note: The `width` of this pseudo element is the same as its "host" element.
    */
    content: url(assets/images/sprite_icons.png);
    display: inline-block;
    text-align: center;
    font-size: 0;
    line-height: 0;
    width: 13px;
    margin: 1px 0 0 1px;
}
.yui3-skin-mine .yui3-panel-hidden .yui3-widget-hd .yui3-button-close {
    /* Required for IE > 7 to deal with pseudo :before element */
    display: none;
}

/********  scrollview-base-skin.css **********************************************/
.yui3-skin-mine .yui3-scrollview {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
/******** scrollview-scrollbars-skin.css   (sam) *************************************/
.yui3-skin-mine .yui3-scrollview-scrollbar {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate(0, 0);
}

.yui3-skin-mine .yui3-scrollview-scrollbar .yui3-scrollview-first,
.yui3-skin-mine .yui3-scrollview-scrollbar .yui3-scrollview-middle,
.yui3-skin-mine .yui3-scrollview-scrollbar .yui3-scrollview-last {
    border-radius:3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
/*    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAABCAYAAAD9yd/wAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJJREFUeNpiZGBgSGPAAgACDAAIkABoFyloZQAAAABJRU5ErkJggg==); */
    background-color: #dcdde0;
    /* opacity */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5; /* Netscape */
    -khtml-opacity: 0.5; /* Safari 1.x */
    opacity: 0.5;
}}

.yui3-skin-mine .yui3-scrollview-scrollbar .yui3-scrollview-first,
.yui3-skin-mine .yui3-scrollview-scrollbar .yui3-scrollview-last {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;

    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;

    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:0;
}

.yui3-skin-mine .yui3-scrollview-scrollbar .yui3-scrollview-last {
    border-radius:0;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;

    -webkit-border-radius:0;
    -webkit-border-bottom-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-transform: translate3d(0, 0, 0);

    -moz-border-radius:0;
    -moz-border-radius-bottomright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-transform: translate(0, 0);
}

.yui3-skin-mine .yui3-scrollview-scrollbar .yui3-scrollview-middle {
    border-radius:0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;

    -webkit-transform: translate3d(0,0,0) scaleY(1);
    -webkit-transform-origin-y: 0;

    -moz-transform: translate(0,0) scaleY(1);
    -moz-transform-origin: 0 0;
}

.yui3-skin-mine .yui3-scrollview-scrollbar-horiz .yui3-scrollview-first,
.yui3-skin-mine .yui3-scrollview-scrollbar-horiz .yui3-scrollview-last {
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;

    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 3px;

    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomleft: 3px;
}

.yui3-skin-mine .yui3-scrollview-scrollbar-horiz .yui3-scrollview-last {
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;

    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-right-radius: 3px;

    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topright: 3px;
}

.yui3-skin-mine .yui3-scrollview-scrollbar-horiz .yui3-scrollview-middle {
    -webkit-transform: translate3d(0,0,0) scaleX(1);
    -webkit-transform-origin: 0 0;

    -moz-transform: translate(0,0) scaleX(1);
    -moz-transform-origin: 0 0;
}

.yui3-skin-mine .yui3-scrollview-scrollbar-vert-basic .yui3-scrollview-child,
.yui3-skin-mine .yui3-scrollview-scrollbar-horiz-basic .yui3-scrollview-child {
    background-color: #aaa;  /* where does this display? */
    background-image: none;
}
/******** scrollview-scrollbars-core.css *******************************/
.yui3-scrollview-scrollbar {
    opacity: 1;
    position: absolute;
    width: 6px;
    height: 10px;
}

.yui3-scrollview-scrollbar {
    top: 0;
    right: 1px;
}

.yui3-scrollview-scrollbar-horiz {
    top:auto;
    height: 8px;
    width: 20px;
    bottom: 1px;
    left: 0;
}

.yui3-scrollview-scrollbar .yui3-scrollview-child {
    position: absolute;
    right: 0px;
    display: block;
    width: 100%;
    height: 4px;
}

.yui3-scrollview-scrollbar .yui3-scrollview-first {
    top: 0;
}

.yui3-scrollview-scrollbar .yui3-scrollview-last {
    top: 0;
}

.yui3-scrollview-scrollbar .yui3-scrollview-middle {
    position: absolute;
    top: 4px;
    height: 1px;
}

.yui3-scrollview-scrollbar-horiz .yui3-scrollview-child {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;

    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
}

.yui3-scrollview-scrollbar-horiz .yui3-scrollview-first,
.yui3-scrollview-scrollbar-horiz .yui3-scrollview-last {
    width: 4px;
    height: 6px;
}

.yui3-scrollview-scrollbar-horiz .yui3-scrollview-middle {
    top: 0;
    left: 4px;
    width: 1px;
    height: 6px;
}

.yui3-scrollview-scrollbar-vert-basic {
    height:auto;
}

.yui3-scrollview-scrollbar-vert-basic .yui3-scrollview-child {
    position:static;
    _overflow:hidden;
    _line-height:4px;
}

.yui3-scrollview-scrollbar-horiz-basic {
    width:auto;
    white-space:nowrap;
    line-height:6px;
    _overflow:hidden;
}

.yui3-scrollview-scrollbar-horiz-basic .yui3-scrollview-child {
    position:static;

    padding:0;
    margin:0;

    top:auto;
    left:auto;
    right:auto;
    bottom:auto;
}
/******** scrollview-list-skin.css  (sam) *****************************/
.yui3-skin-mine .yui3-scrollview {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.yui3-skin-mine .yui3-scrollview{
	background-color: #ecedee;
}
/* For IE 6/7 - needs a background color (above) to pick up events, and zoom, to fill the UL */
.yui3-skin-mine .yui3-scrollview-vert .yui3-scrollview-content .yui3-scrollview-item {
    *zoom:1;
}

/* For IE7 - needs zoom, otherwise clipped content is not rendered */
.yui3-skin-mine .yui3-scrollview-vert .yui3-scrollview-content .yui3-scrollview-list {
    *zoom:1;
	list-style:none; /*need these since reset is not required*/
	padding:0; /*need these since reset is not required*/
	margin:0; /*need these since reset is not required*/
}

.yui3-skin-mine .yui3-scrollview-content,
.yui3-skin-mine .yui3-scrollview-vert .yui3-scrollview-content {
    border:1px solid #dcdee0; /* remove the ScrollView border here */
    /*border-top:0; Remove the top border if needed */
	background-color: transparent;
	font-family: HelveticaNeue,arial,helvetica,clean,sans-serif;
	color:black;
}
                                        /*jeff can't find this ... -item class */
.yui3-skin-mine .yui3-scrollview-vert .yui3-scrollview-content .yui3-scrollview-item {
    border-bottom: 1px solid #f00;
    padding: 15px 20px 16px;   /*jeff: not implemented since can't find -item class */
    font-size: 100%;
    font-weight: bold;
    background-color: #f00;
	cursor:pointer;
}


/******** These are not needed, just added for presentation ********/
.yui3-skin-mine .yui3-scrollview-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.yui3-skin-mine .yui3-scrollview-content li {
    padding: 0.3em 0.5em;
    border-bottom: solid 1px #d4d6d9;
    color: #3c4044;
}
.yui3-skin-mine .yui3-scrollview-content li:hover {
    background: #d4d6d9;
    /*border-bottom: solid 1px #d4d6d9;*/
    color: #020303;
}
/******** end of just added for presentation ********/

/** slider-base-core.css *********************************************/
.yui3-slider,
.yui3-slider-rail {
    /* xbrowser inline-block styles */
    display: -moz-inline-stack; /* FF2 */
    display: inline-block;
    *display: inline; /* IE 7- (with zoom) */
    zoom: 1;
    vertical-align: middle;
}

.yui3-slider-content {
    position: relative;
    display: block;
}
.yui3-slider-rail {
    position: relative;
}

.yui3-slider-rail-cap-top,
.yui3-slider-rail-cap-left,
.yui3-slider-rail-cap-bottom,
.yui3-slider-rail-cap-right,
.yui3-slider-thumb,
.yui3-slider-thumb-image,
.yui3-slider-thumb-shadow {
    position: absolute;
}

.yui3-slider-thumb {
    overflow: hidden;
}


/** slider-base-skin.css (sam)***************************************/
/* Horizontal Slider */

/* Use thumbUrl /build/slider-base/assets/skins/sam/thumb-x.png */

.yui3-skin-mine .yui3-slider-x .yui3-slider-rail,
.yui3-skin-mine .yui3-slider-x .yui3-slider-rail-cap-left,
.yui3-skin-mine .yui3-slider-x .yui3-slider-rail-cap-right {
    background-image: none;
}

.yui3-skin-mine .yui3-slider-x .yui3-slider-rail {
    height: 26px;
}
.yui3-skin-mine .yui3-slider-x .yui3-slider-thumb {
    background-color: #e4e5e7;
    height: 18px;
    width: 12px;
    border: solid 1px #ced0d4;
    border-color: #ced0d4 #c4c5ca #c4c5ca #ced0d4;
    border-radius: 50% 50% 3px 3px;
    margin-top: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15), -1px -1px 3px rgba(0, 0, 0, 0.15) inset;
}

.yui3-skin-mine .yui3-slider-x .yui3-slider-rail-cap-left {
    background-color: #ecedee;
    font-size: 1px; /* for IE 6 */
    height: 2px;
    left: -4px;
    width: 100%;
    border: solid 1px #ddd;
    border-color: #ccced1 #dcdee0 #dcdee0 #ccced1;
    border-right: none;
    margin-top: 0.5em;
    border-radius: 2px 0 0 2px;
}
.yui3-skin-mine .yui3-slider-x .yui3-slider-rail-cap-right {
    background-color: #ecedee;
    font-size: 1px; /* for IE 6 */
    height: 2px;
    right: -4px;
    width: 8px;
    border: solid 1px #ddd;
    border-color: #ccced1 #dcdee0 #dcdee0 #ccced1;
    border-left: none;
    margin-top: 0.5em;
    border-radius: 0 2px 2px 0;
}

.yui3-skin-mine .yui3-slider-x .yui3-slider-thumb-image,
.yui3-skin-mine .yui3-slider-x .yui3-slider-thumb-shadow {
    display: none;
}

/* Vertical Slider */

.yui3-skin-mine .yui3-slider-y .yui3-slider-rail,
.yui3-skin-mine .yui3-slider-y .yui3-slider-rail-cap-top,
.yui3-skin-mine .yui3-slider-y .yui3-slider-rail-cap-bottom {
    background-image: none;
}

.yui3-skin-mine .yui3-slider-y .yui3-slider-rail {
    width: 26px;
}
.yui3-skin-mine .yui3-slider-y .yui3-slider-thumb {
    background-color: #e4e5e7;
    height: 12px;
    width: 18px;
    border: solid 1px #ced0d4;
    border-color: #ced0d4 #c4c5ca #c4c5ca #ced0d4;
    border-radius: 50% 3px 3px 50%;
    margin-left: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15), -1px -1px 3px rgba(0, 0, 0, 0.15) inset;
}

.yui3-skin-mine .yui3-slider-y .yui3-slider-rail-cap-top {
    background-color: #ecedee;
    width: 2px;
    top: -4px;
    height: 100%;
    border: solid 1px #ddd;
    border-color: #ccced1 #dcdee0 #dcdee0 #ccced1;
    border-bottom: none;
    margin-left: 0.5em;
    border-radius: 2px 2px 0 0;
}
.yui3-skin-mine .yui3-slider-y .yui3-slider-rail-cap-bottom {
    background-color: #ecedee;
    width: 2px;
    bottom: -4px;
    height: 8px;
    border: solid 1px #ddd;
    border-color: #ccced1 #dcdee0 #dcdee0 #ccced1;
    border-top: none;
    margin-left: 0.5em;
    border-radius: 0 0 2px 2px;
}

.yui3-skin-mine .yui3-slider-y .yui3-slider-thumb-image,
.yui3-skin-mine .yui3-slider-y .yui3-slider-thumb-shadow {
    display: none;
}


.yui3-skin-mine .yui3-tabview-list {
    border:solid #555b68; /* color between tab list and content */
    border-width:0 0 5px;
    zoom:1;
}

.yui3-skin-mine .yui3-tab {
    margin:0 0.2em 0 0;
    padding:1px 0 0; /* gecko: make room for overflow */
    zoom:1;
}

.yui3-skin-mine .yui3-tab-selected {
    margin-bottom:-1px; /* for overlap (mapped to tabview-list border-width) */
}

.yui3-skin-mine .yui3-tab-label {
    background:    -moz-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 253, 0.3)), color-stop(49%, rgba(195, 198, 203, 0)), color-stop(51%, rgba(195, 198, 203, 0)), color-stop(100%,rgba(143, 149, 158, 0.3)));
    background: -webkit-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(252, 252, 253, 0.3) 0%, rgba(195, 198, 203, 0) 49%, rgba(195, 198, 203, 0) 51%, rgba(143, 149, 158, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #c3c6cb;
    border-style: solid;
    border-color: #dcdde0 #bbbec4 #bbbec4 #dcdde0;
    border-width: 1px 1px 0 1px;
    cursor:pointer;
    font-size:85%;
    padding: 0.3em 0.75em;
    text-decoration:none;
    color: #151719;
    border-radius: 0px 0px 0 0;
}

.yui3-skin-mine .yui3-tab-label:hover,
.yui3-skin-mine .yui3-tab-label:focus {
    background:    -moz-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(176, 180, 186, 0) 49%, rgba(176, 180, 186, 0) 51%, rgba(127, 133, 144, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 253, 0.3)), color-stop(49%, rgba(176, 180, 186, 0)), color-stop(51%, rgba(176, 180, 186, 0)), color-stop(100%,rgba(127, 133, 144, 0.3)));
    background: -webkit-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(176, 180, 186, 0) 49%, rgba(176, 180, 186, 0) 51%, rgba(127, 133, 144, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(176, 180, 186, 0) 49%, rgba(176, 180, 186, 0) 51%, rgba(127, 133, 144, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(176, 180, 186, 0) 49%, rgba(176, 180, 186, 0) 51%, rgba(127, 133, 144, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(252, 252, 253, 0.3) 0%, rgba(176, 180, 186, 0) 49%, rgba(176, 180, 186, 0) 51%, rgba(127, 133, 144, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #b0b4ba;
    color: #070808;
    border: solid 1px;
    border-color: #cbced2 #a8acb3 #a8acb3 #cbced2;
    border-bottom: none;
    outline:0;
}

.yui3-skin-mine .yui3-tab-selected .yui3-tab-label {
    background:    -moz-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(99, 106, 121, 0) 49%, rgba(99, 106, 121, 0) 51%, rgba(48, 52, 59, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 253, 0.3)), color-stop(49%, rgba(99, 106, 121, 0)), color-stop(51%, rgba(99, 106, 121, 0)), color-stop(100%,rgba(48, 52, 59, 0.3)));
    background: -webkit-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(99, 106, 121, 0) 49%, rgba(99, 106, 121, 0) 51%, rgba(48, 52, 59, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(99, 106, 121, 0) 49%, rgba(99, 106, 121, 0) 51%, rgba(48, 52, 59, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(99, 106, 121, 0) 49%, rgba(99, 106, 121, 0) 51%, rgba(48, 52, 59, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(252, 252, 253, 0.3) 0%, rgba(99, 106, 121, 0) 49%, rgba(99, 106, 121, 0) 51%, rgba(48, 52, 59, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #636A79;
    color: #fcfcfd;
    border: solid 1px;
    border-color: #7b8393 #555b68 #555b68 #7b8393;
}
/* separated out hover state for selected tab */
.yui3-skin-mine .yui3-tab-selected .yui3-tab-label:hover,
.yui3-skin-mine .yui3-tab-selected .yui3-tab-label:focus {
    background:    -moz-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(85, 91, 104, 0) 49%, rgba(85, 91, 104, 0) 51%, rgba(41, 44, 50, 0.3) 100%);
    background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 253, 0.3)), color-stop(49%, rgba(85, 91, 104, 0)), color-stop(51%, rgba(85, 91, 104, 0)), color-stop(100%,rgba(41, 44, 50, 0.3)));
    background: -webkit-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(85, 91, 104, 0) 49%, rgba(85, 91, 104, 0) 51%, rgba(41, 44, 50, 0.3) 100%);
    background:      -o-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(85, 91, 104, 0) 49%, rgba(85, 91, 104, 0) 51%, rgba(41, 44, 50, 0.3) 100%);
    background:     -ms-linear-gradient(top, rgba(252, 252, 253, 0.3) 0%, rgba(85, 91, 104, 0) 49%, rgba(85, 91, 104, 0) 51%, rgba(41, 44, 50, 0.3) 100%);
    background:   linear-gradient(to bottom, rgba(252, 252, 253, 0.3) 0%, rgba(85, 91, 104, 0) 49%, rgba(85, 91, 104, 0) 51%, rgba(41, 44, 50, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#1a000000',GradientType=0 );
    background-color: #555b68;
    color: #fcfcfd;
    border: solid 1px;
    border-color: #737b8c #4e545f #4e545f #737b8c;
}



.yui3-skin-mine .yui3-tab-selected .yui3-tab-label {
    padding: 0.4em 0.75em; /* raise selected tab */
}

.yui3-skin-mine .yui3-tabview-panel {
    background-color: #ecedee;
    border: 1px solid #dcdee0;
    color: #3c4044;
    padding: 0.25em 0.5em; /* content padding */
}
